<% content_for :style_link do%>
<style type="text/css">
html,body{
    margin: 0;
    padding: 0;
    font-size: 12px;
}
#loginForm{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 280px;
    height: 110px;
    line-height: 26px;
    margin-top: -55px;
    margin-left: -140px;
    padding: 8px;
    text-align: center;
}
.btn{
    cursor: pointer;
}
</style>
<%end%>

<div id="loginForm">
    <%=form_for @user, url: {action: 'check_valid'}, authenticity_token: false do |f|%>
    <table>
      <tr>
        <td align="right"><%= f.label :username, '登录用户名:'%></td><td align="left"><%= f.text_field :username %></td>
      </tr>
      <tr>
        <td align="right"><%= f.label :password, '登录密码:'%></td><td align="left"><%= f.password_field :password %></td>
      </tr>
      <tr>
        <td colspan="2"> <%= f.submit '重新输入', type: 'reset', class: 'btn'%> &nbsp; <%= f.submit '我要登录', type: 'submit', class:'btn' %> </td>
      </tr>
    </table>
    <%end%>
</div>