<!DOCTYPE html>
<html>
<head>
  <title>ChangeClothes</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="authenticity-token" id="authenticity-token" content="<%=form_authenticity_token%>" />
  <%= stylesheet_link_tag 'application','global', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :style_link %>
</head>
<body>

<%= yield %>

</body>
</html>
